# Core libraries for LLM interaction and environment variables
google-generativeai
google-genai
python-dotenv

# LangChain libraries for RAG pipeline
langchain
langchain-community
langchain-huggingface
langchain-google-genai

# For turning text into vector embeddings
sentence-transformers

# For the local vector database
chromadb

# For the web user interface (we'll use this on Day 2)
streamlit

# For displaying audit log onto streamlit app
pandas